/*---------------------------------------------------------------------
 <copyright file="app.css">
    This code is 
    d under the MIT License.
    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF
    ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED
    TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
    PARTICULAR PURPOSE AND NONINFRINGEMENT.
 </copyright>
 <summary>Styling for the extension.</summary>
---------------------------------------------------------------------*/
body {
    font-family: 'Segoe UI',Tahoma,Arial,Verdana;
    font-size: 12px;
    padding: 0;
    margin: 0;
    background-color: #fcfcfc;
}

.loadingMessage {
    margin: auto;
    left: 0;
    top: 0;
    width: 300px;
    height: 50px;
    right: 0;
    bottom: 0;
    position: absolute;
}

#message-container {
    left: 50px;
    top: 10px;
    bottom: 0;
    position: absolute;
}

.spinner {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url('../images/big-progress.gif') no-repeat 0 0 !important;
}

#cards-container-outer {
    position: relative;
    padding: 0;
    margin: 0;
    overflow: auto;
    height: 90%;
}

    #cards-container-outer #cards-container {
        position: relative;
        text-align: left;
    }

.clear {
    clear: both;
}

#cards-container-outer #cards-container .card {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}

#print-container {
    border-top: solid 1px #F3F3F3;
    height: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left: -10px;
    display: none;
    background-color: #fcfcfc;
}

    #print-container button {
        position: fixed;
        right: 20px;
        bottom: 10px;
    }
